@tailwind base;
@tailwind components;
@tailwind utilities;

.app-background {
  background-image: url('./assets/bg_img_1.png');
  background-size: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}